:root {
  --clr-neutral-10: #FCFAF9;
  --clr-neutral-80: #191826;
  --clr-primary-10: #FA7453;
  --clr-primary-20: #FFB964;
  --clr-primary-30: #66E2DC;
  --ff-sans: 'IBM Plex Sans', sans-serif;
  --fz-X: 40px;
  --fz-body: 16px;
  --fz-card: 18px;
  --fz-L: 32px;
  --fz-price-p: 20px;
  --fz-btn: 18px;
  --fz-footer: 16px;
  --fw-reg: 400;
  --fw-bold: 700;
}

/*==================================================
 ================= General Settings ================
 ===================================================*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  line-height: 1;
}

.flowise>* {
  margin-bottom: 1rem;
}

.flowise>*:last-child {
  margin-bottom: 0;
}

.flowise>*+* {
  margin-top: 1em;
}

.flexwise {
  display: flex;
  flex-direction: var(--flex-dir, column);
  justify-content: var(--flex-justice, space-between);
}

.flexwise>*+* {
  margin-top: var(--flex-row-top-marg, 2rem);
  margin-left: var(--flex-row-left-marg, 0);
}

.paddwise {
  padding-top: calc(var(--fz-body) * 2);
  padding-bottom: calc(var(--fz-body) * 2);
}

body {
  margin: 0;
  font-family: var(--ff-sans);
  font-size: var(--fz-body);
  font-weight: var(--fw-reg);
  color: var(--clr-neutral-80);
  line-height: 1.5;
}

.background {
  background: url(../images/bg-main-mobile.png) no-repeat 30vw -5rem/90%;
}

a.btn {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

/*==================================================
 ================= Typography ======================
 ===================================================*/

.intro h1 {
  font-size: var(--fz-X);
  font-weight: var(--fw-bold);
  padding-right: 10%;
}

/* ===> See Card Typography */

.copyrights a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  font-weight: var(--fw-bold);
  transform: scale(1);
  transition: transform 300ms ease-out 100ms;
}

.copyrights a:focus,
.copyrights a:hover {
  transform: scale(1.0125);
}

/*==================================================
 ================= Layout ==========================
 ===================================================*/

.container {
  width: var(--cont-width, 90%);
  max-width: 1110px;
  margin: 0 auto;
}

main {
  --cont-width: 100%;
  padding-top: 30vw;
}

.blackboard {
  color: var(--clr-neutral-10);
  background: var(--clr-neutral-80) url(../images/bg-pattern-2.svg) no-repeat center 1em/90%;
  border-radius: 12px;
}

.phone-img {
  display: block;
  max-width: 100%;
  width: 70%;
  margin: 0 auto;
  position: relative;
  bottom: 30vw;
}

/*================= Card ===========================*/

.card {
  font-size: var(--fz-card);
  padding: calc(var(--fz-body) * 2);
  background: var(--clr-primary-10);
  border-radius: 12px;
  max-width: 22em;
  margin: -3em auto 0;
}

.card h2 {
  font-size: var(--fz-L);
  font-weight: var(--fw-bold);
}

.card .price {
  font-size: var(--fz-price-p);
  line-height: 1;
}

.card .price span {
  font-size: 3.5em;
  font-weight: var(--fw-bold);
  vertical-align: middle;
  margin-right: 1rem;
}

.card .btn {
  display: block;
  text-align: center;
  font-weight: var(--fw-bold);
  border-radius: 12px;
  padding: .75em;
  color: var(--btn-fg-clr, var(--clr-neutral-10));
  background-color: var(--btn-bg-clr, var(--clr-neutral-80));
  transition: background-color 300ms ease-out 100ms;
}

.card .btn img {
  margin-right: .25em;
  vertical-align: -0.1em;
}

.card .android {
  --btn-fg-clr: var(--clr-neutral-80);
  --btn-bg-clr: var(--clr-neutral-10);
}

.card .apple:focus,
.card .apple:hover {
  background-color: var(--clr-primary-30);
}

.card .android:focus,
.card .android:hover {
  background-color: var(--clr-primary-20);
}

/*================= Social List ===================*/

.sns-box ul {
  list-style: none;
  margin: 0;
  padding: 0;
  --flex-dir: row;
  --flex-justice: center;
}

.sns-box li {
  --flex-row-top-marg: 0;
  --flex-row-left-marg: 1.5em;
}

.sns-box a {
  padding: 0.125em;
}

.sns-box a svg path {
  fill: var(--clr-neutral-80);
  transition: fill 100ms ease-out;
}

.sns-box a:focus svg path,
.sns-box a:hover svg path {
  fill: var(--clr-primary-10);
}

/*==================================================
 ================= Media queries ===================
 ===================================================*/

@media all and (max-width: 350px) {

  .intro h1,
  .intro p {
    padding-right: 0;
  }
}

@media all and (min-width: 500px) {
  :root {
    --fz-X: 56px;
    --fz-body: 18px;
  }

  .background {
    background-image: url(../images/bg-pattern-1.svg), url(../images/bg-main-tablet.png);
    background-position: 75vw -1.5vw, -7rem -7rem;
    background-size: 25%, 125%;
  }

  main {
    --cont-width: 90%;
    padding-bottom: 13vw;
  }

  .intro h1 {
    padding-right: 20%;
    margin-bottom: 0.75em;
  }

  .blackboard {
    background-position: 60% top;
    background-size: auto;
    position: relative;
  }

  .phone-img {
    width: calc(var(--fz-body) * 15);
    margin: 0 auto 0 6%;
    position: relative;
    bottom: 8em;
  }

  .card {
    position: absolute;
    bottom: -12vw;
    right: 6%;
  }

  .footer-inners {
    flex-direction: row;
    align-items: center;
  }

  .copyrights {
    flex-basis: 70%;
  }

  .copyrights p {
    max-width: 420px;
  }

  .sns-box {
    margin-top: 0;
    margin-left: 1em;
  }

}

@media all and (min-width: 800px) {
  :root {
    --fz-X: 74px;
    --fz-body: 20px;
    --fz-L: 40px;
    --fz-card: 20px;
  }

  .background {
    background-image: url(../images/bg-pattern-1.svg), url(../images/bg-main-desktop.png);
    background-position: right -2em, -7em -7em;
    background-size: auto, 115%;
  }

  main {
    padding-top: 240px;
    padding-bottom: 140px;
  }

  .intro p {
    max-width: 825px;
    width: 75%;
  }

  .blackboard {
    background-position: 35% 3em;
  }

  /* calc() tricks hereafter are useless overkill
   just there for practice purposes */

  .phone-img {
    margin-left: calc(var(--fz-body) * 3.5);
  }

  .card {
    bottom: calc(var(--fz-body) * -3.5);
    right: calc(var(--fz-body) * 3.5);
  }

  .copyrights {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .copyrights p {
    margin-top: 0;
    margin-left: 1em;
  }

}